<%= form_for @popular_destination, :html => { :class => 'form-horizontal form-model' } do |f| %>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  popular_destinations_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
